$bg-color: #f7f7f9;
$white-color: #ffffff;
$accent-color: #05052b;
$yellow-color: #e5ff77;
$blue-color: #d73fb6;
$red-color: #fd7672;

$box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
$transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
